#user-input>input, #password-input>input{
    display: flex;;
    width:22rem;
    height:1.25rem;
    border-radius: .5rem;
    margin-bottom: 10px;
    border:1px solid #CCCCCC
}
#modal-content{
    width:400px;
    max-width: 700px;
    border-radius: 15px;
    border:20px solid white;
}
#modal-content>h1{
    display: flex;
    justify-content: center;
}
#signup-btn{
    width:200px;
    background-color:#FF5A5F;
    color:white;
    border-radius: 6px;
    margin-top:10px;
    height:3rem;
    border:none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 100px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#signup-btn:hover{
    background-color: hsl(358, 73%, 53%);
}
#signup-btn:disabled{
    background-color: grey;
    cursor:text;
}
