.group-info-page{
    padding-top: 70px;
    padding-left: 10rem;
}
#back-button{
    color:teal;
}
.img{
    width:300px;
    height:300px;
    background-color: lightgrey;
    border-radius: 5px;
}

.top-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

#info-container {
    margin-left: 5rem;
}

#location-detail {
    padding-top: 20px;
    color:grey;
}
#numMembers-detail {
    padding-top: 20px;
    color:grey;
}
#organizer-detail {
    padding-top: 20px;
    color:grey;
}
#join-group-btn {
    padding-top:100px;
}
#join-group-btn-detail>button{
    color:white;
    border:2px solid black;
    border-radius: 3px;
    box-shadow: 4px 2px 2px black;
    background-color: red;
    height: 30px;
    width: 125px;
}
#authorized-btn{
    padding-top: 100px;
}
#authorized-btn>button, #link-btns>button{
    border:2px solid black;
    border-radius: 3px;
    box-shadow: 4px 2px 2px black;
    background-color: grey;
    color:white;
    height:30px;
    width:100px;
    cursor: pointer;
    margin-right: 10px;
}
#about-detail{
    padding-top:20px;
}
#organizer-detail{
    padding-bottom: 20px;
}
