/* entire page */
.groups-page {
    padding-top: 85px;
    height: 93vh;
}
/* ! MIDDLE ! */
.groups-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
#middle-links {
    text-decoration: none;
    color:black;

}
.one-group{
    display: flex;
    flex-direction: row;

    border-top:2px solid black;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    
}
#img{
    width:200px;
    height:200px;
}
.group-info{
    overflow-wrap: break-word;
    inline-size:550px;
    padding-left: 1rem;

}
/*! Top Part !*/
.event-group-links{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 22rem;
    padding-bottom: 2rem;
}
#top-link{
    font-size: 30px;
    text-decoration: none;
    padding-right: 20px;
    color:black;

    cursor: pointer;

}
