#tiny-img{
    height:60px;
    width: 60px;
}

#group-link-info{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color:black;
    font-size:12px;
}
#time-container{
    color:grey;
    display: flex;
    flex-direction: row;
}
#time-detail{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
#time-color{
    color:teal;
}

#price-container{
    color:grey;
    padding-top: 20px;
}
#location-container{
    color:grey;
    padding-top: 20px;
}

#clock-icon{
    padding-right:20px;
    margin-top:10px;
}

.group-transfer{
    margin-left: 10px;
}

.group-link-container:hover{
    background-color: lightgoldenrodyellow;
}
.group-link-container{
    border:2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
