.about {
    display:flex;
    flex-direction: column;
    font-size: 20px;

}
.about>p{
    font-size: 15px;
    overflow-wrap: break-word;
    inline-size: 400px;
}
.about>h1{
    overflow-wrap: break-word;
    inline-size: 500px;
}

.inner {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width:65%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

/* images */
.main-img{
    width:400px;
    height:200px;
}
 .landing-page-stacks {
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding-top:40px;
 }
 .link{
    text-decoration: none;
    color:black;
 }
 #link-text{
     padding-left: 20px;
     color:teal;
     font-size: 14px;
     text-decoration: underline;
 }
.disabled-link:hover, .disabled-link:active, .disabled-link {
    text-decoration: none;
    cursor:default;
    color:grey;
}

.middle-landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.middle-landing>p {
    overflow-wrap: break-word;
    inline-size: 300px;
}
#title-nav{
    color:#FF5A5F;
    font-weight: bold;
}

.hidden{
    display:none;
}
.join-meetup-btn>button{
    height:40px;
    width: 200px;
    background-color: teal;
    color: white;
    border:2px solid black;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
    font-size: 20px;
}

.join-meetup-btn{
    padding-top: 30px;
}

.card{
    padding-right: 20px;
    padding-left:20px;
}
.landing-captions{
    font-size: 14px;

    overflow-wrap: break-word;
    inline-size: 250px;
}

#landing-cap-container{
    padding-top:15px;
}
