/* Login and Sign Up buttons */
.loginSignup {
    display: flex;
    flex-direction: row;
    list-style-type:none;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: 20px;
}
/* Targets every child of loginSignup godforsaken class */
.loginSignup>* {
    padding-right: 10px;
    cursor: pointer;
}
/* Everything in nav element */
nav {
    display: flex;

    flex-direction: row;
    border-bottom: solid black;
    justify-content: space-between;
    align-items: center;

    height: 70px;
    position:fixed;

    background-color: white;
    width: 100%;
    font-size: 40px;
    
}
/* ONLY TITLE */

/* Stops any link from turning purple and no underlines */
.navbar>* {
    text-decoration: none;
    color:black;
}
.navbar:visited{
    color:inherit;
}

/*!! WHEN USER IS LOGGED IN!!*/
/* New Group button */
.new-group{
    display: flex;
    flex-direction: row;
    list-style-type:none;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: 20px;

}
.new-group>*{
    text-decoration: none;
    color:teal;
}
/* User Menu icon */
.icon-new-group {
    display: flex;
    flex-direction: row;
    list-style-type:none;
    justify-content: center;
    align-items: center;
    width: 400px;

}

.hidden {
    display: none;
}
